{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path_for('disaster_show', {'disasterId':disaster.id}) }}">{{ disaster.name }}</a></li>
    <li><a href="{{ path_for('correspond_index', {'disasterId':disaster.id}) }}">災害対応情報管理</a></li>
    <li><a href="#">新規登録</a></li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container-fluid">
            <h1 class="title">新規登録</h1>

            <hr>

            <form action="{{ path_for('correspond_store', {'disasterId':disaster.id}) }}" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header"><p class="card-header-title">災害名 : {{ disaster.name }}</p></div>
                    <div class="card-content">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="correspond_name">対応部署等</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    <select id="correspond_name" name="correspond[name]" required>
                                        <option disabled selected></option>
                                        <option>対策本部</option>
                                        <option>防災課</option>
                                        <option>水道課</option>
                                        <option>土木課</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="correspond_section">区分</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-grouped is-grouped-multiline">
                                    {% for section in sections %}
                                        <div class="control">
                                            <label class="radio"><input type="radio" name="correspond[section]" value="{{ section.name }}"> {{ section.name }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="correspond_contents">内容</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-grouped is-grouped-multiline">
                                    {% for content in contents %}
                                        <div class="control">
                                            <label class="checkbox"><input type="checkbox" name="correspond[contents][]"
                                                                           value="{{ content.name }}"> {{ content.name }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label for="correspond_comments"></label></div>
                            <div class="field-body">
                                <textarea class="textarea is-medium" id="correspond_comments" name="correspond[comments]" type="text" placeholder="概要"></textarea>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label"><label class="label" for="correspond_file">添付ファイル</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="file is-boxed has-name">
                                        <label class="file-label">
                                            <input class="file-input" id="correspond_file" type="file" name="correspond[files][0]">
                                            <span class="file-cta">
                                                <span class="file-icon"><i class="fa fa-upload"></i></span>
                                                <span class="file-label">Choose file…</span>
                                            </span>
                                            <span class="file-name"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button class="button is-primary">送信</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}