{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path_for('disaster_show', {'disasterId':disaster.id}) }}">{{ disaster.name }}</a></li>
    <li><a href="#">災害対応情報管理</a></li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container-fluid">
            <h1 class="title">災害対応情報管理</h1>
            <hr>

            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="キーワード">
                </div>
                <div class="control">
                    <a class="button is-info">検索</a>
                </div>
            </div>

            <div class="f-right">
                <a href="{{ path_for('correspond_create', {'disasterId':disaster.id}) }}" class="button is-info">新規登録</a>
            </div>

            <table class="table is-fullwidth is-striped">
                <thead>
                <tr>
                    <th>対応部署</th>
                    <th>分類</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for c in disaster.corresponds.get %}
                    <tr>
                        <td><a href="{{ path_for('correspond_show', {'disasterId':disaster.id, 'correspondId':c.id}) }}">{{ c.name }}</a></td>
                        <td>{{ c.section }}</td>
                        <td>
                            <a href="{{ path_for('correspond_edit', {'disasterId':disaster.id, 'correspondId':c.id}) }}" class="button is-warning">編集</a>
                            <form action="{{ path_for('correspond_delete', {'disasterId':disaster.id, 'correspondId':c.id}) }}" method="POST" style="display: inline-block">
                                <input type="hidden" name="_METHOD" value="DELETE"/>
                                <button class="button is-danger" id="delete-btn">削除</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
