{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path_for('disaster_index') }}">災害事例管理</a></li>
    <li><a href="#">編集</a></li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container-fluid">
            <h1 class="title">編集</h1>

            <hr>

            <form action="{{ path_for('disaster_store') }}" method="post">
                <div class="card">
                    <div class="card-content">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="disaster_name">災害名</label>
                            </div>
                            <div class="field-body">
                                <input type="text" name="disaster[name]" id="disaster_name" class="input" value="{{ disaster.name }}" required>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="disaster_date">発災日時</label>
                            </div>
                            <div class="field-body">
                                <input type="date" name="disaster[date]" id="disaster_date" class="input" value="{{ disaster.date }}" required>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="disaster_season">季節</label>
                            </div>
                            <div class="field-body">
                                <div class="control">
                                    {% set seasons = ['春', '夏', '秋', '冬'] %}
                                    {% for season in seasons %}
                                        {% set checked = '' %}
                                        {% if season in disaster.season %}
                                            {% set checked = 'checked' %}
                                        {% endif %}
                                        <label class="checkbox">
                                            <input type="checkbox" name="disaster[season][]" value="{{ season }}" {{ checked }}> {{ season }}
                                        </label>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="disaster_class">種類</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    <select id="disaster_class" name="disaster[class]" required>
                                        {% for class in classes %}
                                            {% set selected = '' %}
                                            {% if class == disaster.class %}
                                                {% set selected = 'selected' %}
                                            {% endif %}
                                            <option {{ selected }}>{{ class.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="disaster_scale">規模</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    <select id="disaster_scale" name="disaster[scale]" required>
                                        {% for scale in scales %}
                                            {% set selected = '' %}
                                            {% if scale == disaster.scale %}
                                                {% set selected = 'selected' %}
                                            {% endif %}
                                            <option {{ selected }}>{{ scale.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="field" id="coordinates">
                            <label class="label" for="disaster_coordinates">被害範囲の登録</label>
                            <p>地図上をクリックすることで被害エリアを登録することができます．</p>
                            <button type="reset" class="button" id="map-reset">マップリセット</button>
                            <label class="checkbox">
                                <input type="checkbox" id="onMarker"/> 発生源をセットする
                            </label>
                            <div id="disaster-map"></div>
                        </div>


                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button class="button is-success">更新</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{{ public_path }}/js/app.js"></script>
    <script>
        var tes = "{{ disaster.coordinates }}";
        console.warn(tes);
        var ibarakiUniv = {
            HITACHI: { lat: 36.572377, lng: 140.641972 },
        };

        var mymap = L.map('disaster-map').setView([ibarakiUniv.HITACHI.lat, ibarakiUniv.HITACHI.lng], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 17,
            minZoom: 11
        }).addTo(mymap);


        mymap.on('click', function (e){
            L.popup()
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(mymap);
            console.log(e.latlng.toString());
        });
    </script>
{% endblock %}