{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="#">災害事例管理</a></li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container-fluid">
            <h1 class="title">災害事例管理</h1>
            <hr>

            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="キーワード">
                </div>
                <div class="control">
                    <a class="button is-info">
                        検索
                    </a>
                </div>
            </div>

            <div class="f-right">
                <a href="{{ path_for('disaster_create') }}" class="button is-info">新規登録</a>
            </div>

            <table class="table is-fullwidth is-striped">
                <thead>
                <tr>
                    <th>災害事例</th>
                    <th>日時</th>
                    <th>種類</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for d in disasters %}
                    <tr>
                        <td><a href="{{ path_for('disaster_show', {'disasterId':d.id}) }}">{{ d.name }}</a></td>
                        <td>{{ d.date }}</td>
                        <td>{{ d.class }}</td>
                        <td>
                            <a href="{{ path_for('disaster_edit', {'disasterId':d.id}) }}" class="button is-warning">編集</a>
                            <form action="{{ path_for('disaster_delete', {'disasterId':d.id}) }}" method="POST" style="display: inline-block">
                                <input type="hidden" name="_METHOD" value="DELETE"/>
                                <button class="button is-danger" id="delete-btn">削除</button>
                            </form>
                            <a href="{{ path_for('correspond_index', {'disasterId':d.id}) }}" class="button is-success">対応情報確認</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
