{% extends 'layouts/_layout.twig' %}

{% block content %}
    <div id="main-content" class="">
        <h1 class="title">直近に更新された災害記録</h1>
        <table class="table is-fullwidth is-striped">
            <tr>
                <th>災害名</th>
                <td>{{ disaster.name }}</td>
            </tr>
            <tr>
                <th>発災日時</th>
                <td>{{ disaster.date }}</td>
            </tr>
            <tr>
                <th>災害種類</th>
                <td>{{ disaster.class }}</td>
            </tr>
            <tr>
                <th>規模</th>
                <td>{{ disaster.scale }}</td>
            </tr>

        </table>
        <div id="disaster-map"></div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ public_path }}/js/app.js"></script>
    <script type="text/javascript" src="{{ public_path }}/js/service-worker.js"></script>
    <script type="text/javascript" src="{{ public_path }}/js/test-sw.js"></script>
    <script>
        var ibarakiUniv = {
            HITACHI: { lat: 36.572377, lng: 140.641972 },
        };

        var disasterMap = L.map('disaster-map').setView([ibarakiUniv.HITACHI.lat, ibarakiUniv.HITACHI.lng], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 17,
            minZoom: 11
        }).addTo(disasterMap);


        disasterMap.on('click', function (e){
            L.popup()
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(mymap);
            console.log(e.latlng.toString());
        });
    </script>
{% endblock %}