{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="#">Todoリスト管理</a></li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container-fluid">
            <h1 class="title">ToDoリスト管理</h1>
            <hr>

            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="キーワード">
                </div>
                <div class="control">
                    <a class="button is-info">
                        検索
                    </a>
                </div>
            </div>

            <div class="f-right">
                <a href="{{ path_for('list_create') }}" class="button is-info">新規登録</a>
            </div>

            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>リスト</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for l in lists %}
                    <tr>
                        <td><a href="{{ path_for('list_show', {'listId':l.id}) }}">プラン{{ l.id }}</a></td>
                        <td>
                            <a href="{{ path_for('list_edit', {'listId':l.id}) }}" class="button is-warning">編集</a>
                            <a href="{{ path_for('list_delete', {'listId':l.id}) }}" class="button is-danger" id="delete-btn">削除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
